@use 'vars' as *;
@use 'mixins' as *;

@include font-face($font-family, 'OpenSans-Regular', 400, normal);
@include font-face($font-family, 'OpenSans-Light', 300, normal);
@include font-face($font-family, 'OpenSans-Bold', 700, normal);

@include font-face($second-family, 'Lora-Regular', 400, normal);
@include font-face($second-family, 'Lora-Medium', 500, normal);

@include font-face($third-family, 'Inter-Regular', 400, normal);

@mixin hover-after-effect(
  $color: $color-accent,
  $height: 2px,
  $top-offset: 90%,
  $transition-duration: 0.5s
) {
  &::after {
    content: '';
    position: absolute;
    top: $top-offset;
    left: 50%;
    translate: -50%;
    width: 0;
    height: $height;
    background-color: $color;
    transition: width $transition-duration ease;
  }
}

@mixin focus-complex(
  $border-color: $color-accent,
  $shadow-color: rgba($color-accent, 0.7),
  $border-width: 3px,
  $shadow-blur: 10px,
  $duration: 0.5s
) {
  &:focus {
    outline: transparent;
    border: $border-width solid $border-color;
    box-shadow: 0 0 $shadow-blur $shadow-color;
    transition: border-color $duration ease-in-out, box-shadow $duration ease-in-out;
  }

  &:not(:focus) {
    border-color: transparent;
    box-shadow: none;
    transition: border-color $duration ease-in-out, box-shadow $duration ease-in-out;
  }
}

@mixin active-complex($active-color: $color-primary-light, $scale: 1, $duration: 0.2s) {
  &:active {
    background-color: $active-color;
    transform: scale($scale);
    transition: background-color $duration ease-in-out, transform $duration ease-in-out;
  }

  &:not(:active) {
    background-color: transparent;
    transition: background-color $duration ease-in-out;
  }
}
