@use 'vars' as *;
@use 'media' as *;

@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url('../fonts/#{$file}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin opensans-400 {
  font-family: $font-family;
  font-weight: 400;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:focus) {
      @content;
    }
  }

  @media (hover: none) and (pointer: coarse) {
    &:active {
      @content;
    }
  }
}

@mixin hover-effect {
  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:focus) {
      @content;
    }
  }
}

@mixin focus-visible {
  &:focus-visible {
    @content;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin pseudo-button(
  $text-color: $color-primary,
  $hover-text-color: $color-accent,
  $shadow-color: $color-accent,
  $transform-y: -2px,
  $transform-scale: 1,
  $transform-scale-down: null,
  $background-color: null,
  $border: null,
  $border-radius: 4px,
  $display: inline-block,
  $opacity: 1
) {
  display: $display;
  border-radius: $border-radius;
  color: $text-color;
  transition: transform 0.25s ease, box-shadow 0.3s ease, color 0.3s ease, outline 0.2s ease,
    background-color 0.3s ease, opacity 0.2s ease;

  @include hover {
    color: $hover-text-color;
    background-color: $background-color;
    box-shadow: 1px 1px 2px rgba($shadow-color, 0.2), 3px 3px 6px rgba($shadow-color, 0.1),
      4px 4px 8px rgba($shadow-color, 0.05);
    transform: translateY($transform-y) scale($transform-scale);
  }

  &:focus-visible {
    color: $hover-text-color;
    background-color: $background-color;
    box-shadow: 1px 1px 2px rgba($shadow-color, 0.2), 3px 3px 6px rgba($shadow-color, 0.1);
    transform: translateY($transform-y) scale($transform-scale);
  }

  &:active {
    color: $color-primary;
    background-color: $background-color;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(0) scale($transform-scale-down);
  }

  svg {
    fill: currentColor;
    transition: fill 0.3s ease;
  }
}

@mixin form-input-style(
  $padding-top: 0,
  $padding-bottom: 10px,
  $padding-right: 5px,
  $color: $color-text-muted,
  $accent: $color-accent,
  $border: 1px solid,
  $border-color: $color-text-muted,
  $gap-between: 20px,
  $gap-after-last: 0
) {
  input {
    display: block;
    width: 100%;
    margin-bottom: $gap-between;
    padding: $padding-top $padding-right $padding-bottom 0;
    @extend %opensans-400;
    color: $color;
    background-color: transparent;
    border: none;
    border-bottom: $border $border-color;
    transition: color 0.3s ease, border-color 0.3s ease, outline 0.3s ease;

    /*&:last-of-type {
      margin-bottom: $gap-after-last;
    }*/

    &::placeholder {
      color: $color;
    }

    &:hover::placeholder {
      color: $accent;
    }

    &:hover {
      border-color: $accent;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-color: $accent;
    }

    &:active {
      border-color: $accent;
    }
  }
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin state-styles {
  @include hover-effect {
    color: $color-accent;
    background-color: $color-primary-light;
    border-color: $color-accent;
  }

  @include focus-visible {
    color: $color-accent;
    background-color: $color-primary-light;
    border-color: $color-accent;
    outline: none;
  }

  @include active {
    color: $color-primary-light;
    background-color: rgba($color-accent, 0.6);
  }
}
