<div class="blog-pagination">
  <a class="blog-pagination__prev blog-pagination__arrow blog-pagination__arrow-disable" href="#">
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#blog-pagination-prev"></use>
    </svg>
  </a>
  <ul class="blog-pagination__list">
    <li class="blog-pagination__item">
      <a class="blog-pagination__link blog-pagination__link--active" href="#">01</a>
    </li>
    <li class="blog-pagination__item">
      <a class="blog-pagination__link" href="#">02</a>
    </li>
    <li class="blog-pagination__item">
      <a class="blog-pagination__link" href="#">03</a>
    </li>
    <li class="blog-pagination__item">
      <a class="blog-pagination__link" href="#">04</a>
    </li>
    <li class="blog-pagination__item">
      <a class="blog-pagination__link" href="#">...</a>
    </li>
    <li class="blog-pagination__item">
      <a class="blog-pagination__link" href="#">10</a>
    </li>
  </ul>
  <a class="blog-pagination__next blog-pagination__arrow" href="#">
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#blog-pagination-next"></use>
    </svg>
  </a>
</div>
