<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__logo-inner visually-hidden">
        <a
          class="footer__logo logo-link"
          href="#"
          aria-label="Go to the Luxurious Bridal Haven home page"
        >
          <img
            class="footer__logo-img"
            src="images/logo.svg"
            alt="logo Luxurious Bridal Haven"
            width="245"
            height="26"
            loading="lazy"
          />
        </a>
      </div>
      <nav class="footer__menu" aria-label="Additional navigation">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a
              class="footer__menu-link menu-link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >Catalog</a
            >
          </li>
          <li class="footer__menu-item">
            <a
              class="footer__menu-link menu-link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >Collections</a
            >
          </li>
          <li class="footer__menu-item">
            <a
              class="footer__menu-link menu-link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >About</a
            >
          </li>
          <li class="footer__menu-item">
            <a class="logo" href="#" aria-label="Go to the Luxurious Bridal Haven home page">
              <img
                class="footer__logo-img"
                src="images/logo.svg"
                alt="logo Luxurious Bridal Haven"
                width="245"
                height="26"
                loading="lazy"
              />
            </a>
          </li>
          <li class="footer__menu-item">
            <a
              class="footer__menu-link menu-link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >Book your appointment</a
            >
          </li>
          <li class="footer__menu-item">
            <a
              class="footer__menu-link menu-link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__elements">
      <div class="footer__element">
        <p class="footer__element-title">Phones</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a class="footer__element-link" href="tel:+380978367320">+380 (97) 836 73 20</a>
          </li>
          <li class="footer__element-item">
            <a class="footer__element-link" href="tel:+380999846862">+380 (99) 984 68 62</a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Emails</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a class="footer__element-link" href="mailto:office@luxuriousbridalhaven.com"
              >office@luxuriousbridalhaven.com</a
            >
          </li>
          <li class="footer__element-item">
            <a class="footer__element-link" href="mailto:sales@luxuriousbridalhaven.com"
              >sales@luxuriousbridalhaven.com</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Location</p>
        <address class="footer__address">
          <span class="footer__address-row">Ukraine, Kyiv,</span>
          <span class="footer__address-row">st. Arsenalna, 5</span>
        </address>
      </div>
      <div class="footer__element footer__element--soc1al">
        <p class="footer__element-title">Social</p>
        <ul class="footer__soc1al-list" aria-label="Our social networks">
          <li class="footer__soc1al-item">
            <a
              class="footer__soc1al-link button button--icon-soc1al"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg width="26" height="26">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__soc1al-item">
            <a
              class="footer__soc1al-link button button--icon-soc1al"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <svg width="26" height="26">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Sign-up for our newsletter</p>
        <form class="footer__form" name="email" autocomplete="off" novalidate>
          <label class="footer__form-label visually-hidden" for="user-email"
            >Enter your email</label
          >
          <input
            class="footer__form-input"
            id="user-email"
            name="user-email"
            type="email"
            placeholder="Enter your email"
          />
          <button
            class="footer__form-btn button button--icon-soc1al"
            type="submit"
            aria-label="Subscribe to the newsletter"
          >
            <svg width="15" height="11">
              <use xlink:href="images/sprite.svg#envelop"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="footer__copy">© Luxurious Bridal Haven. All rights reserved.</p>
        <ul class="footer__bottom-list" aria-label="Legal information">
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#" target="_blank" rel="noopener noreferrer"
              >Privacy Policy</a
            >
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#" target="_blank" rel="noopener noreferrer"
              >Refund policy</a
            >
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#" target="_blank" rel="noopener noreferrer"
              >Terms of Service</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
