<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo-inner">
        <a
          class="header__logo logo-link"
          href="#"
          aria-label="Go to the Luxurious Bridal Haven home page"
        >
          <img
            class="header__logo-img"
            src="images/logo.svg"
            alt="logo Luxurious Bridal Haven"
            width="245"
            height="26"
          />
        </a>
      </div>
      <nav class="header__lang-menu" aria-label="Language navigation">
        <ul class="header__lang" aria-label="Choosing a site language">
          <li class="header__lang-item header__lang-item--activ">
            <a class="header__lang-link" href="#">en</a>/
          </li>
          <li class="header__lang-item">
            <a class="header__lang-link" href="#">ua</a>
          </li>
        </ul>
      </nav>
      <nav class="header__menu" aria-label="Main navigation">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link link" href="#" target="_blank" rel="noopener noreferrer"
              >CATALOG</a
            >
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link link" href="#" target="_blank" rel="noopener noreferrer"
              >COLLECTIONS</a
            >
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link link" href="#" target="_blank" rel="noopener noreferrer"
              >ABOUT</a
            >
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link link" href="#" target="_blank" rel="noopener noreferrer"
              >BOOK AN APPOINTMENT</a
            >
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link link" href="#" target="_blank" rel="noopener noreferrer"
              >CONTACT</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header__actions" aria-label="User actions">
        <li class="header__actions-item">
          <a
            class="header__actions-link link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Profile"
          >
            <span class="header__actions-link-wrapper">
              <svg width="24" height="24">
                <use xlink:href="images/sprite.svg#user"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="header__actions-item">
          <a
            class="header__actions-link link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Wish list"
          >
            <span class="header__actions-link-wrapper">
              <svg width="24" height="22">
                <use xlink:href="images/sprite.svg#wish-list"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="header__actions-item">
          <a
            class="header__actions-link link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Shopping cart"
          >
            <span class="header__actions-link-wrapper">
              <svg width="24" height="24">
                <use xlink:href="images/sprite.svg#shopping-bag"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
