<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a class="logo logo-link" href="#" aria-label="Luxurious Bridal Haven">
          <img
            class="logo__img"
            src="images/logo.svg"
            alt="logo Luxurious Bridal Haven"
            width="245"
            height="26"
          />
        </a>
      </div>
      <ul class="header__lang" aria-label="lang navigation">
        <li class="header__lang-item header__lang--activ">
          <a class="header__lang-link" href="#">en</a>/
        </li>
        <li class="header__lang-item">
          <a class="header__lang-link" href="#">ua</a>
        </li>
      </ul>
      <nav class="header__menu menu" aria-label="menu navigation">
        <ul class="header__menu-list menu__list">
          <li class="menu__item">
            <a class="menu__item-link link" href="#" target="_blank" rel="noopener noreferrer"
              >CATALOG</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__item-link link" href="#" target="_blank" rel="noopener noreferrer"
              >COLLECTIONS</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__item-link link" href="#" target="_blank" rel="noopener noreferrer"
              >ABOUT</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__item-link link" href="#" target="_blank" rel="noopener noreferrer"
              >BOOK AN APPOINTMENT</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__item-link link" href="#" target="_blank" rel="noopener noreferrer"
              >CONTACT</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header__actions">
        <li class="header__actions-item">
          <a class="header__actions-link link" href="#" target="_blank" rel="noopener noreferrer">
            <span class="header__actions-link-wrapper">
              <svg width="24" height="24">
                <use xlink:href="images/sprite.svg#user"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="header__actions-item">
          <a class="header__actions-link link" href="#" target="_blank" rel="noopener noreferrer">
            <span class="header__actions-link-wrapper">
              <svg width="24" height="22">
                <use xlink:href="images/sprite.svg#wish-list"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="header__actions-item">
          <a class="header__actions-link link" href="#" target="_blank" rel="noopener noreferrer">
            <span class="header__actions-link-wrapper">
              <svg width="24" height="24">
                <use xlink:href="images/sprite.svg#shopping-bag"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
