<section class="join-us section">
  <div class="join-us__wrapper-bg">
    <div class="container">
      <div class="section__body">
        <div class="join-us__inner">
          <picture>
            <source srcset="images/join-us/join-img.avif" type="image/avif" />
            <source srcset="images/join-us/join-img.webp" type="image/webp" />
            <img
              class="join-us__img"
              src="images/join-us/join-img.jpg"
              alt="Elegant woman in a wedding dress with translucent winged sleeves and decorated bodice"
              width="540"
              height="489"
              loading="lazy"
            />
          </picture>
          <div class="join-us__content">
            <h2 class="join-us__title title">JOIN US</h2>
            <div class="join-us__text">
              <p>Sign up and get 10% discount on your first purchase!</p>
            </div>
            <form class="join-us__form" name="join" autocomplete="off" novalidate>
              <label class="join-us__form-label visually-hidden" for="join-name">First Name</label>
              <input class="join-us__input" id="join-name" type="text" placeholder="First Name" />
              <label class="join-us__form-label visually-hidden" for="join-email">Email</label>
              <input class="join-us__input" id="join-email" type="email" placeholder="Email" />
              <button class="join-us__button button button--accent" type="submit">GET 10%</button>
              <div class="join-us__form-caption">
                <p>
                  *By compleating this form you are signing up to receive our emails and can
                  unsubscribe at any time.
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
