<section class="join-us section">
  <div class="join-us__wrapper-bg">
    <div class="container">
      <div class="section__body">
        <div class="join-us__inner">
          <picture class="join-us__image">
            <source
              srcset="images/join-us/join-us-desktop.avif"
              type="image/avif"
              media="(min-width: 1000.99px)"
            />
            <source
              srcset="images/join-us/join-us-desktop.webp"
              type="image/webp"
              media="(min-width: 1000.99px)"
            />
            <source
              srcset="images/join-us/join-us-laptop.avif"
              type="image/avif"
              media="(min-width: 920.99px)"
            />
            <source
              srcset="images/join-us/join-us-laptop.webp"
              type="image/webp"
              media="(min-width: 920.99px)"
            />
            <source
              srcset="images/join-us/join-us-tablet.avif"
              type="image/avif"
              media="(min-width: 640.99px)"
            />
            <source
              srcset="images/join-us/join-us-tablet.webp"
              type="image/webp"
              media="(min-width: 640.99px)"
            />
            <source
              srcset="images/join-us/join-us-mobile.avif"
              type="image/avif"
              media="(min-width: 470.99px)"
            />
            <source
              srcset="images/join-us/join-us-mobile.webp"
              type="image/webp"
              media="(min-width: 470.99px)"
            />
            <source
              srcset="images/join-us/join-us-mobile-s.avif"
              type="image/avif"
              media="(min-width: 320px)"
            />
            <source
              srcset="images/join-us/join-us-mobile-s.webp"
              type="image/webp"
              media="(min-width: 320px)"
            />
            <img
              class="join-us__img"
              src="images/join-us/join-us-desktop.jpg"
              srcset="
                images/join-us/join-us-mobile-s.jpg 160w,
                images/join-us/join-us-mobile.jpg   220w,
                images/join-us/join-us-tablet.jpg   320w,
                images/join-us/join-us-laptop.jpg   480w,
                images/join-us/join-us-desktop.jpg  540w
              "
              sizes="(min-width: 1000.99px) 540px,
                   (min-width: 920.99px) 480px,
                   (min-width: 640.99px) 320px,
                   (min-width: 470.99px) 220px,
                   (min-width: 320px) 160px,
                   160px"
              alt="Elegant woman in a wedding dress with translucent winged sleeves and decorated bodice"
              loading="lazy"
            />
          </picture>
          <div class="join-us__content">
            <div class="join-us__content-top">
              <h2 class="join-us__title title">JOIN US</h2>
              <div class="join-us__text">
                <p>Sign up and get 10% discount on your first purchase!</p>
              </div>
            </div>
            <form class="join-us__form" name="join" autocomplete="off" novalidate>
              <label class="join-us__form-label visually-hidden" for="join-name">First Name</label>
              <input
                class="join-us__input"
                id="join-name"
                type="text"
                name="first_name"
                placeholder="First Name"
              />
              <label class="join-us__form-label visually-hidden" for="join-email">Email</label>
              <input
                class="join-us__input"
                id="join-email"
                type="email"
                name="email"
                placeholder="Email"
              />

              <button class="join-us__button button button--accent" type="submit">GET 10%</button>
              <div class="join-us__form-caption">
                <p>
                  *By compleating this form you are signing up to receive our emails and can
                  unsubscribe at any time.
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
