<nav class="pagination pagination--blog">
  <a
    class="pagination__prev pagination__arrow pagination__blog-arrow pagination__blog-arrow-disable"
    href="#"
  >
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#arrow-big-left"></use>
    </svg>
  </a>
  <ul class="pagination__list pagination__blog-list">
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link pagination__blog-link--active" href="#"
        >01</a
      >
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">02</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">03</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">04</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">...</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">10</a>
    </li>
  </ul>
  <a class="pagination__next pagination__arrow pagination__blog-arrow" href="#">
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#arrow-big-right"></use>
    </svg>
  </a>
</nav>
