<nav class="pagination pagination--blog">
  <a
    class="pagination__prev pagination__arrow pagination__blog-arrow pagination__blog-arrow-disable"
    href="#"
    aria-label="Go to previous page"
  >
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#arrow-big-left"></use>
    </svg>
  </a>
  <ul class="pagination__list pagination__blog-list">
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link pagination__blog-link--active" href="#"
        >01</a
      >
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">02</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">03</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">04</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">...</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__blog-link" href="#">10</a>
    </li>
  </ul>
  <a
    class="pagination__next pagination__arrow pagination__blog-arrow"
    href="#"
    aria-label="Go to next page"
  >
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#arrow-big-right"></use>
    </svg>
  </a>
</nav>

<!-- <nav class="pagination pagination--blog">
  <a
    class="pagination__prev pagination__arrow pagination__arrow--disable"
    href="#"
    aria-label="Go to previous page"
  >
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#arrow-big-left"></use>
    </svg>
  </a>
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link pagination__link--active" href="#">01</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">02</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">03</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">04</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">...</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">10</a>
    </li>
  </ul>
  <a class="pagination__next pagination__arrow" href="#" aria-label="Go to next page">
    <svg width="25" height="16">
      <use xlink:href="images/sprite.svg#arrow-big-right"></use>
    </svg>
  </a>
</nav> -->
