<nav class="pagination pagination--collection" aria-label="Pagination navigation">
  <a
    class="pagination__collection-prev pagination__arrow pagination__collection-arrow pagination__collection-arrow-disable"
    href="#"
  >
    <svg width="12" height="5">
      <use xlink:href="images/sprite.svg#arrow-small-left"></use>
    </svg>
  </a>
  <ul class="pagination__list pagination__collection-list">
    <li class="pagination__item">
      <a
        class="pagination__link pagination__collection-link pagination__collection-link--active"
        href="#"
        >1</a
      >
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__collection-link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__collection-link" href="#">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__collection-link" href="#">4</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__collection-link" href="#">5</a>
    </li>
  </ul>
  <a class="pagination__next pagination__arrow" href="#">
    <svg width="12" height="5">
      <use xlink:href="images/sprite.svg#arrow-small-right"></use>
    </svg>
  </a>
</nav>
